# Stripe API Keys (Test Mode)
# Get yours at: https://dashboard.stripe.com/test/apikeys
STRIPE_SECRET_KEY=sk_test_sk_test_51TdGlhBXNmoC7IP8NFPc0VWwY1BRToZR1maafXweTiLMCroBPWfEfPmy7YPvf8F8MasivKU7uPMD0aYNKQnwr2TR00XkXMsWqe
STRIPE_PUBLISHABLE_KEY=pk_test_pk_test_51TdGlhBXNmoC7IP8eGChNtu0sfgzgWjF9G3aCP1oziUG974lrlYSEDaHq8YWrXaRPCm7hBPvBivzdfYktmMZuwbz00J2YuZGsb
